@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 1rem 0;
    max-width: 80rem;
    text-align: center;

    &.error {
        background-color: lighten($color: v.$rojo, $amount: 60%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
    }

    &.exito {
        background-color: lighten($color: v.$verde, $amount: 60%);
        border-left: .5rem solid v.$verde;
        color: v.$verde;
    }
}